.results-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.result-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.result-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.result-card p {
    margin: 5px 0;
}

.result-card p strong {
    font-weight: bold;
}

.results-header {
    padding: 20px;
    font-size: 20px;
    font-family: "Poppins-Bold";
}