.test-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.test-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Poppins-Bold";
}

.question-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.question-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
}

.option input {
    margin-right: 10px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

